<!DOCTYPE html>
<html lang="ru" data-bs-theme="{{ theme or 'light' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1 0 auto;
        }
        footer {
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    <header class="p-3 border-bottom">
        <div class="container">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-evenly">
                <div class="col text-start">
                   <a href="{{ url_for('home') }}" class="btn btn-primary rounded-pill">Главная</a>
                   <a href="{{ url_for('messages') }}" class="btn btn-primary rounded-pill">Сообщения</a>
                </div>
                <div class="col text-end"> 
                    <a href="{{ url_for('toggle_theme') }}" class="btn btn-outline-secondary rounded-circle">
                        {% if theme == 'dark' %}
                            <i class="bi bi-sun-fill"></i>
                        {% else %}
                            <i class="bi bi-moon-stars-fill"></i>
                        {% endif %}
                    </a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger rounded-pill"><i class="bi bi-box-arrow-right"> Выход </i></a>
                </div>
            </div>
        </div>
    </header>
  
    <div class="container mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="true">Заявки</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">История заявок</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted" type="button" role="tab" aria-controls="accepted" aria-selected="false">Принятые заявки</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejected" type="button" role="tab" aria-controls="rejected" aria-selected="false">Отклоненные заявки</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Статистика</button>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <h2>Заявки</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Номер рабочего места</th>
                            <th scope="col">Описание проблемы</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <th scope="row">{{ request.id_orders }}</th>
                                <td>{{ request.place }}</td>
                                <td>{{ request.orders_disc }}</td>
                                <td>{{ request.data }}</td>
                                <td>{{ request.status_name }}</td>
                                <td>
                                    <form action="{{ url_for('accept_request', id_orders=request.id_orders) }}" method="post" style="display:inline-block;">
                                        <button type="submit" class="btn btn-success">Принять</button>
                                    </form>
                                    <form action="{{ url_for('reject_request', id_orders=request.id_orders) }}" method="post" style="display:inline-block;">
                                        <button type="submit" class="btn btn-danger">Отклонить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <h2>История заявок</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Номер рабочего места</th>
                            <th scope="col">Описание проблемы</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in history_requests %}
                            <tr>
                                <th scope="row">{{ request.id_orders }}</th>
                                <td>{{ request.place }}</td>
                                <td>{{ request.orders_disc }}</td>
                                <td>{{ request.data }}</td>
                                <td>{{ request.status_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                <h2>Принятые заявки</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Номер рабочего места</th>
                            <th scope="col">Описание проблемы</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in accepted_requests %}
                            <tr>
                                <th scope="row">{{ request.id_orders }}</th>
                                <td>{{ request.place }}</td>
                                <td>{{ request.orders_disc }}</td>
                                <td>{{ request.data }}</td>
                                <td>{{ request.status_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
                <h2>Отклоненные заявки</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Номер рабочего места</th>
                            <th scope="col">Описание проблемы</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in rejected_requests %}
                            <tr>
                                <th scope="row">{{ request.id_orders }}</th>
                                <td>{{ request.place }}</td>
                                <td>{{ request.orders_disc }}</td>
                                <td>{{ request.data }}</td>
                                <td>{{ request.status_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <h2>Статистика аккаунта: {{ username }}</h2>
            <p>Дата регистрации: {{ registration_date }}</p>
            <p>Количество выполненных заявок: {{ completed_requests_counts }}</p>
        </div>
        </div>
    </div>

    <footer class="p-3 border-0 text-center mt-auto">
        <p>&copy; 2025 IT Service for School-118. Все права защищены Касперским :)</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
